<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-3">
      <div class="well">
        <div class="stop-list-well">
          <h1><%= @stop %></h1>
          <h3>Select a category to search</h3>
          <%= form_for(@stop, :url => stops_select_path, method: :post) do |f| %>
            <%= select_tag "term", options_for_select(@select_list) %>
              <p><%= f.hidden_field :longitude, :value => @longitude %>
                <p><%= f.hidden_field :latitude, :value => @latitude %>
                  <%= f.submit "select", class: "btn btn-primary btn-sm" %>
                </p>
              </p>
          <% end %>

        </div><!--div class="route-list-well"-->
      </div><!--div class="well"-->
    </div><!--div class="col-lg-8 col-lg-offset-3"-->
  </div><!--div class="row"-->
</div><!--div class="container"-->
