<div class = 'container-fluid business_well'>
  <h2><span class='name'><%= @name %></span> <%= @location %></h2>
  <hr />
  <div class="row">
    <div class="col-xs-6">
      <% if !@photo.nil? && !@photo.empty? %>
        <% if @photo.size != 0  %>
          <% @photo.each do |photo| %>
            <%= image_tag "#{photo}", class: 'restaurant_photo' %><br/>
          <% end %>
        <% end %>
      <% end %>

    </div>

    <div class="col-xs-6 business_data">
      <% if !@rating.nil? %>
        <% show_stars = show_rating(@rating) %>
        <h3><%=image_tag(show_stars, alt: "", class: 'dock-item') %> | Price: <%= @price %> | <%= link_to image_tag('Yelp_trademark_RGB.png', class: 'yelp_logo'), "#{@website}", target: '_blank' %></h3>
      <% end %>
      <h3><%= @categories if !@categories.nil? %></h3>
      <h3><%= @display_phone if !@display_phone.nil? %></h3>
      <% if !@business.nil? && !@business.empty? %>
        <% if @business['hours'] == nil %>
          <h3>No Hours Available</h3>
        <% else %>
        <h2 >Hours</h2>
          <div class="time-well">
            <% @hours.each do |day| %>
              <p><%= day %></p>
            <% end %>
          </div>
        <% end %>
       <% end %>
    </div>
  </div>
</div>