<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-3">
      <div class="well"><p />
        <% @routelists.each do |route| %>
          <div class="well route-list-well">
            <% if route.route_id == '801' %>
              <h2><%= link_to route.display_name, stops_path(route_id: route.route_id), class: 'blue-line' %></h2>
            <% elsif route.route_id == '802' %>
              <h2><%= link_to route.display_name, stops_path(route_id: route.route_id), class: 'red-line' %></h2>
            <% elsif route.route_id == '803' %>
              <h2><%= link_to route.display_name, stops_path(route_id: route.route_id), class: 'green-line' %></h2>
            <% elsif route.route_id == '804' %>
              <h2><%= link_to route.display_name, stops_path(route_id: route.route_id), class: 'gold-line' %></h2>
            <% elsif route.route_id == '805' %>
              <h2><%= link_to route.display_name, stops_path(route_id: route.route_id), class: 'purple-line' %></h2>
            <% else route.route_id == '806' %>
              <h2><%= link_to route.display_name, stops_path(route_id: route.route_id), class: 'expo-line' %></h2>
            <% end %>
            <h2 class='route-location'><%= route.route_location %></h2>
          </div> <!--div class="well route-list-well"-->
        <% end %>
      </div><!--div class="well"-->
    </div><!--div class="col-lg-8 col-lg-offset-3"-->
  </div><!--div class="row"-->
</div><!--div class="container"-->
