<div class = 'container business_well'>
  <h2><span class='name'><%= @name %></span> <%= @location %></h2>
  <hr />
<div class="row">
  <div class="col-md-6">
    <%= image_tag(@photo, class: "restaurant_photo") %>

    <% if @business_is_open_now %>
      <h3><%= "Open Now" %></h3>
    <% end %>
  </div>

  <div class="col-md-6 business_data">
    <p>Rating: <%= @rating %> | Price: <%= @price %></p>
    <p><%= @categories %></p>
    <p><%= @display_phone %></p>
    <div class="time-well">
      <% @hours.each do |day| %>
        <%= day %></br>
      <% end %>
    </div>
  </div>
</div>
