<div class = 'container business_well'>
  <h2><span class='name'><%= @name %></span> <%= @location %></h2>
  <hr />
<div class="row">
  <div class="col-md-6">
    <% if @photo.size != 0  %>
      <% @photo.each do |photo| %>
        <%= image_tag "#{photo}", class: 'restaurant_photo' %><br/>
      <% end %>
    <% end %>
  </div>

  <div class="col-md-6 business_data">
    <p>Rating: <%= @rating %> | Price: <%= @price %></p>
    <p><%= @categories %></p>
    <p><%= @display_phone %></p>

    <% if !(@business.include?(@business['name'])) %>
      <p>No Hours Available</p>
    <% else %>
      <div class="time-well">
        <% @hours.each do |day| %>
          <%= day %></br>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
